# Data Cleaning Code. 
## Developed on 10,000 entries

In [7]:
import pandas as pd
import numpy as np

dat = pd.read_csv('/home/henry/Desktop/MSiA/MSiA 400/MSiA400/Data/trnsact_10k.csv')
dat.head()

,sku,store,register,trannum,seq,saledate,stype,quantity,orgprice,amt,amt2,interid,mic,zero
0,6767033,3909,140,5800,0,2004-12-17,P,1,34.0,34.00,34.00,974000139,777,0
1,6767033,4003,620,9400,0,2005-02-26,P,1,34.0,4.25,4.25,508800293,777,0
2,6767033,4004,410,2100,0,2005-02-06,P,1,34.0,17.00,17.00,780200057,777,0
3,6767033,4007,240,18700,440008916,2005-01-29,P,1,34.0,11.90,11.90,853500167,777,0
4,6767033,4102,320,7100,933004517,2004-11-20,P,1,34.0,34.00,34.00,69900097,777,0

In [35]:
percent_purchase = dat.groupby(['sku', 'stype'], group_keys=False)["stype"].aggregate(['count']).reset_index()
long = percent_purchase.pivot(index = 'sku', columns = 'stype', values = 'count').reset_index().fillna(0)
long["Percentage Purchase"] = long.apply(lambda x: 100 * x.P / (x.P + x.R), axis = 1)
long["Percentage Return"] = long.apply(lambda x: 100 * x.P / (x.P + x.R), axis = 1)


long

stype      sku       P      R  Percentage Purchase
0      6767033   176.0   12.0            93.617021
1      6767036   102.0   15.0            87.179487
2      6767073    35.0    5.0            87.500000
3      6767075    98.0    4.0            96.078431
4      6767086    10.0    1.0            90.909091
5      6767097    17.0    0.0           100.000000
6      6767113    11.0    0.0           100.000000
7      6767114    31.0    1.0            96.875000
8      6767120   189.0    5.0            97.422680
9      6767139    37.0   10.0            78.723404
10     6767164    13.0    0.0           100.000000
11     6767172    58.0    3.0            95.081967
12     6767179   115.0   12.0            90.551181
13     6767232    13.0    0.0           100.000000
14     6767233    73.0    6.0            92.405063
15     6767264    21.0    5.0            80.769231
16     6767272  1460.0  185.0            88.753799
17     6767276    11.0    3.0            78.571429
18     6767282    57.0    9.0            86.363636
19     6767292    47.0    7.0            87.037037
20     6767297   895.0   46.0            95.111583
21     6767303   124.0    5.0            96.124031
22     6767307    84.0    8.0            91.304348
23     6767310     2.0    0.0           100.000000
24     6767315    34.0    5.0            87.179487
25     6767322     5.0    1.0            83.333333
26     6767342   361.0   36.0            90.931990
27     6767345   475.0   66.0            87.800370
28     6767347   116.0   14.0            89.230769
29     6767348   142.0   25.0            85.029940
30     6767351   450.0   60.0            88.235294
31     6767352   843.0  179.0            82.485323
32     6767353   116.0   20.0            85.294118
33     6767356    32.0    4.0            88.888889
34     6767358    72.0    7.0            91.139241
35     6767360   326.0   43.0            88.346883
36     6767362    10.0    0.0           100.000000
37     6767383   125.0    9.0            93.283582
38     6767385    12.0    1.0            92.307692
39     6767389     8.0    0.0           100.000000
40     6767393   907.0  101.0            89.980159
41     6767395   115.0   14.0            89.147287
42     6767411   106.0   12.0            89.830508
43     6767417     1.0    0.0           100.000000
44     6767419     5.0    0.0           100.000000
45     6767421   347.0   18.0            95.068493
46     6767426   513.0   70.0            87.993139
47     6767434   140.0   33.0            80.924855